.baseContainer {
  padding: 80px;
  max-width: 800px;
  margin: auto;
}

/* Container do formulário de carro */
.carFormContainer {
  margin: 50px;
  padding: 80px;
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do título do formulário */
.carFormContainer h1 {
  text-align: center;
  color: #333;
}

/* Estilo do formulário */
.carForm {
  display: flex;
  flex-direction: column;
}

/* Estilo dos rótulos dos campos */
.carForm label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

/* Estilo dos campos de entrada */
.carForm input[type="text"],
.carForm input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo do botão de salvar */
.saveButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

/* Estilo do botão de salvar ao passar o mouse */
.saveButton:hover {
  background-color: #218838;
}


/* Estilo do botão de adicionar */
.cancelButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #15325F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

/* Estilo do botão de adicionar ao passar o mouse */
.cancelButton:hover {
  background-color: #0056b3;
}
